<html>
<head>
    <style>body {
   color: black;
}



    </style>
</head>
<body><h1 id="test-task-for-an-intern-for-the-position-analyst-python-">Test task for an Intern for the position
    «Analyst (python)»</h1>
<h3 id="title-list">Title list</h3>
<ul>
    <li><a href="#task-description">Task Description</a></li>
    <li><a href="#methods-description">Methods description</a>
        <ul>
            <li><a href="#method-get_city_info">Method &#39;<code>get_city_info</code>&#39;</a></li>
            <li><a href="#method-get_cities_info">Method &#39;<code>get_cities_info</code>&#39;</a></li>
            <li><a href="#method-compare_cities">Method &#39;<code>compare_cities</code>&#39;</a></li>
        </ul>
    </li>
    <li><a href="#used-tools">Used tools</a></li>
</ul>
<h3 id="task-description">Task Description</h3>
<p>The project is an implemented HTTP server for providing information on geographical objects in Russia. The data is
    taken from the geographical database «Geonames». The implemented server provides a REST API service.</p>
<h3 id="methods-description">Methods description</h3>
<h4 id="method-get_city_info">Method get_city_info</h4>
<p>The method takes the &#39;<code>geonameid</code>&#39; as input and returns information about the city.</p>
<p>To call the method, pass the string &#39;<code>/city/geonameid</code>&#39;,</p>
<p>where &#39;<code>geonameid</code>&#39; is an integer corresponding to a unique ID of a certain city.</p>
<p><em>Example of usage:</em></p>
<p><img src="static/images/get_city_info_success.png" alt="get_city_info success`"></p>
<p>In this case, the &#39;<code>geonameid</code>&#39; that exists in the database was passed, and the output is a
    &#39;<code>json</code>&#39; object with information about this city.</p>
<p><em>Example of usage:</em></p>
<p><img src="static/images/get_city_info_fail1.png" alt="get_city_info fail 1`"></p>
<p>If you pass a set of digits that doesn&#39;t match any &#39;<code>geonameid</code>&#39; from the database, we will
    get an error message with this test.</p>
<p><em>Example of incorrect usage:</em></p>
<p><img src="static/images/get_city_info_fail2.png" alt="get_city_info fail 2`"></p>
<p>Received an error message indicating that for correct work you need to pass an integer.</p>
<h4 id="method-get_cities_info">Method get_cities_info</h4>
<p>The method takes the page and the number of cities displayed on the page and returns a list of cities with their
    information.</p>
<p>To call the method, pass the string &#39;<code>/cities/city_1_name,city_2_name,...,city_n_name?start=integer_number&amp;limit=integer_number</code>&#39;,
    where &#39;<code>city_1_name,city_2_name,...,city_n_name</code>&#39; are the names of the cities you want to find,
    &#39;<code>start</code>&#39; is a parameter that takes number from which cities from the list of cities should be
    displayed on the page from and &#39;<code>limit</code>&#39; is a parameter that takes number of cities from a list
    of cities you want to see on the page.</p>
<p>&#39;<code>city_1_name,city_2_name,...,city_n_name</code>&#39; can be written in Russian or English, and the names
    may contain the characters &#39;<code>«&#39;», « », «-»</code>&#39; and shoud be separated by &#39;<code>«,» or «,
        »</code>&#39;</p>
<p>&#39;<code>start</code>&#39; is an optioanal parameter with default value <code>1</code>, that takes integer number.
</p>
<p>&#39;<code>limit</code>&#39; is an optioanal parameter with default value <code>5</code>, that takes integer number.
</p>
<p><em>Example of usage:</em></p>
<p><img src="static/images/get_cities_info_success1.png" alt="get_cities_info success 1`"></p>
<p>In this case, we are looking for cities &#39;<code>Заозёрск, MoScOW,kursk</code>&#39;, note that method ignores the
    case of the inputted string and returns all cities that contains such names in there &#39;<code>name, asiiname or
        alternatenames</code>&#39; characteristics of this city in database.</p>
<p>&#39;<code>start</code>&#39; - is missed here as it is an optioanal parameter with default value <code>1</code>.
    And &#39;<code>limit</code>&#39; we have clearly indicated here as &#39;<code>3</code>&#39;.</p>
<p>In &#39;<code>json</code>&#39; object returned by method we can see parameters:
    &#39;<code>start</code>&#39;, &#39;<code>limit</code>&#39;, &#39;<code>count</code>&#39;, &#39;<code>previous</code>&#39;,
    &#39;<code>next</code>&#39;, &#39;<code>Cities</code>&#39;.</p>
<ul>
    <li>&#39;<code>start</code>&#39; - It is the position from which we want the data to be returned.</li>
    <li>&#39;<code>limit</code>&#39; - It is the max number of items to return from that position.</li>
    <li>&#39;<code>count</code>&#39; - It is the total count of results.</li>
    <li>&#39;<code>previous</code>&#39; - It is the url for the previous page of the query assuming current value of
        limit.
    </li>
    <li>&#39;<code>next</code>&#39; - It is the url for the next page of the query assuming current value of limit.</li>
    <li>&#39;<code>Cities</code>&#39; - This is the list of results whose position lies within the bounds specified by
        the request. The order in which cities are displayed corresponds to the order in which they appear in the url.
        In the example above, all the cities &#39;<code>Заозёрск</code>&#39; will be displayed first, then &#39;<code>Moscow</code>&#39;
        and then &#39;<code>Kursk</code>&#39;.
    </li>
</ul>
<p><em>Example of usage:</em></p>
<p><img src="static/images/get_cities_info_success2.png" alt="get_cities_info success 2`"></p>
<p>In this case, we are looking for cities &#39;<code>somecity,zaozersk,kusk</code>&#39;.
    &#39;<code>start</code>&#39; and &#39;<code>limit</code>&#39; we have clearly indicated here as &#39;<code>1</code>&#39;
    and &#39;<code>3</code>&#39; respectively.</p>
<p>You may notice that a new &#39;<code>Search failed</code>&#39; component has been added. It is displayed when one or
    more cities with such names from the URL were not found. It also shows which specific cities that were not found in
    the &#39;<code>Sorry, there is no info about city/cities</code>&#39; parameter. And in the
    &#39;<code>Suggestions</code>&#39; parameter, we can see possible variants of cities that were meant instead of
    erroneous ones.</p>
<p><em>Example of incorrect usage:</em></p>
<p><img src="static/images/get_cities_info_fail1.png" alt="get_cities_info fail 1`"></p>
<p>Received an error message indicating that for correct work you need to pass a list of cities names separated by &#39;<code>«,»
    or «, »</code>.</p>
<h4 id="method-compare_cities">Method compare_cities</h4>
<p>The method takes the names of two cities (in russian) and returns information about the cities found, as well as
    additional information: which one is located to the North and whether they have the different time zone and how much
    they differed (when several cities have the same name, resolves ambiguity by choosing a city with a large
    population; if the population matches, takes the first one that comes across)</p>
<p>To call the method, pass the string
    &#39;<code>/compare_cities/city_1_name,city_2_name</code>&#39;,</p>
<p>where &#39;<code>city_1_name,city_2_name</code>&#39; are the names of the cities (in russian) you want to find. Names
    may contain the characters &#39;<code>«&#39;», « », «-»</code>&#39; and shoud be separated by &#39;<code>«,» or «,
        »</code>&#39;</p>
<p><em>Example of usage:</em></p>
<p><img src="static/images/compare_cities_success1.png" alt="compare_cities success 1`"></p>
<p>In this case, we are looking for cities &#39;<code>самара, омск</code>&#39;, note that method ignores the case of the
    inputted string and returns all cities that contains such names in there &#39;<code>name, asiiname or
        alternatenames</code>&#39; characteristics of this city in database.</p>
<p>And the output is a &#39;<code>json</code>&#39; object with information about these cities in
    &#39;<code>Cities</code>&#39; section.</p>
<p>You may notice that a new &#39;<code>Comparison</code>&#39; component has been added, which shows an additional
    information: </p>
<ul>
    <li>which city is North and how much,</li>
    <li>whether timezones different and how much.</li>
</ul>
<p><em>Example of usage:</em></p>
<p><img src="static/images/compare_cities_success2.png" alt="compare_cities success 2`"></p>
<p>In this case, we are looking for cities &#39;<code>самара,какой-то город</code>&#39;.</p>
<p>As in method <code>compare_cities</code>&#39;, new component &#39;<code>Search failed</code>&#39; has been added. It
    happened because there is no city with name &#39;<code>какой-то город</code>&#39;.</p>
<p>The output is a &#39;<code>json</code>&#39; object with informationabout city &#39;<code>самара</code>&#39; is in
    &#39;<code>Cities</code>&#39; section because this city that contains in database.</p>
<p>And the &#39;<code>Comparison</code>&#39; component has not been added, because we don&#39;t have city to compare
    with.</p>
<p><em>Example of usage:</em></p>
<p><img src="static/images/compare_cities_success3.png" alt="compare_cities success 3`"></p>
<p>In this case, we are looking for cities &#39;<code>самра,какой-то город</code>&#39;.</p>
<p>Now the same thing happened as in the example above, except that there is no &#39;<code>Cities</code>&#39; section
    now, since none of the cities &#39;<code>самра,какой-то город</code>&#39; were found in the database.</p>
<h3 id="used-tools">Used tools</h3>
<pre><code>Flask - <span class="hljs-keyword">for</span> server creation
Flask Restful - <span class="hljs-keyword">for</span> REST API realisation
Pandas - <span class="hljs-keyword">for</span> working <span class="hljs-keyword">with</span> data
Pytz - <span class="hljs-keyword">for</span> determining timezones 
Datetime - <span class="hljs-keyword">for</span> calculating difference <span class="hljs-keyword">between</span> timezones
Difflib - <span class="hljs-keyword">for</span> creating suggestions
Re - <span class="hljs-keyword">for</span> working <span class="hljs-keyword">with</span> regex
Json - <span class="hljs-keyword">for</span> json packaging
</code></pre>
</body>
</html>